## Examen text mining 2021
##### Nom: 
EL Mouslih salah eddine
##### Filière : 
DS-E

#### Q.1

In [603]:
Textes=[["Antoine Griezmann scored twice as France beat Finland in their 2022 World Cup qualifier ","sport"],
       ["Haaland scores hat-trick in Norway win","sport"],
       ["A comfortable win over Azerbaijan moved Morocco to the top of Group A","sport"],
       ["World Cup qualifying has been seriously affected by the coronavirus pandemic","sport"],
       ["Memphis Depay hat trick vs. Turkey puts Dutch top of World Cup qualifying group G","sport"],
        
        ["General Elections: Turnout Reaches 75% in Morocco’s Southern Provinces ","politics"],
       ["Guinea is in the midst of a rocky political transition after the country’s first democratically elected leader was deposed in a swift military coup.","politics"],
       ["Morocco, Spain Team Up to Arrest Terror Suspect in Tangier","politics"],
       ["Several countries and organizations expressed regret over Algeria's decision to cut political relations with Morocco.","politics"],
       ["Personal Data Use In Moroccan Election Campaigns Raises Concerns","politics"],
        
        ["Royal Air Maroc Cancels Flights Between Morocco and Italy","economy"],
       ["Ministry of Industry Approves New Company to Monitor Imports","economy"],
       ["Branson, tech entrepreneur and founder of the Virgin Group, visited Dakhla after a trip to Marrakech","economy"],
       ["IFC, BMCE Bank UK Team Up to Promote African Transnational Trade","economy"],
       ["Morocco, Stellantis Sign Amendment to Reactivate Cooperation in Automotive Industry","economy"]]

In [604]:
Textes[8][0].split()[4]

'expressed'

#### Q.2

In [605]:
def split_texte(T):
    L=[]
    for i in range(len(T)):
        for j in range(len(T[i][0].split())):
            if not T[i][0].split()[j] in L:
                L.append(T[i][0].split()[j])
    return L

# L=[T[i][0].split()[j] for j in range(len(T[i][0].split())) if not T[i][0].split()[j] in L]:

In [630]:
L = split_texte(Textes)
L

['Antoine',
 'Griezmann',
 'scored',
 'twice',
 'as',
 'France',
 'beat',
 'Finland',
 'in',
 'their',
 '2022',
 'World',
 'Cup',
 'qualifier',
 'Haaland',
 'scores',
 'hat-trick',
 'Norway',
 'win',
 'A',
 'comfortable',
 'over',
 'Azerbaijan',
 'moved',
 'Morocco',
 'to',
 'the',
 'top',
 'of',
 'Group',
 'qualifying',
 'has',
 'been',
 'seriously',
 'affected',
 'by',
 'coronavirus',
 'pandemic',
 'Memphis',
 'Depay',
 'hat',
 'trick',
 'vs.',
 'Turkey',
 'puts',
 'Dutch',
 'group',
 'G',
 'General',
 'Elections:',
 'Turnout',
 'Reaches',
 '75%',
 'Morocco’s',
 'Southern',
 'Provinces',
 'Guinea',
 'is',
 'midst',
 'a',
 'rocky',
 'political',
 'transition',
 'after',
 'country’s',
 'first',
 'democratically',
 'elected',
 'leader',
 'was',
 'deposed',
 'swift',
 'military',
 'coup.',
 'Morocco,',
 'Spain',
 'Team',
 'Up',
 'Arrest',
 'Terror',
 'Suspect',
 'Tangier',
 'Several',
 'countries',
 'and',
 'organizations',
 'expressed',
 'regret',
 "Algeria's",
 'decision',
 'cut',
 'relations',
 'with',
 'Morocco.',
 'Personal',
 'Data',
 'Use',
 'In',
 'Moroccan',
 'Election',
 'Campaigns',
 'Raises',
 'Concerns',
 'Royal',
 'Air',
 'Maroc',
 'Cancels',
 'Flights',
 'Between',
 'Italy',
 'Ministry',
 'Industry',
 'Approves',
 'New',
 'Company',
 'Monitor',
 'Imports',
 'Branson,',
 'tech',
 'entrepreneur',
 'founder',
 'Virgin',
 'Group,',
 'visited',
 'Dakhla',
 'trip',
 'Marrakech',
 'IFC,',
 'BMCE',
 'Bank',
 'UK',
 'Promote',
 'African',
 'Transnational',
 'Trade',
 'Stellantis',
 'Sign',
 'Amendment',
 'Reactivate',
 'Cooperation',
 'Automotive']

#### Q.3

In [607]:
def t2v(T,L):
    V=[]
    S = T.split()
    for j in range(len(L)):
        exists=0
        for i in range(len(S)):
            if S[i]==L[j]:
                exists=exists+1
        V.append(exists)    
    return V

In [608]:
t2v("Haaland scores hat-trick in Norway win",L)

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

#### Q.4

In [611]:
import copy

Li=L.copy()
def MV():
    P= ['in','A','as','of','by','to','for','but','and','the','his', 'on', 'at', 'to', 'I', 'me','he','she', 'you','it']
    for word in Li:
        if word in P:
            Li.remove(word)
    return Li 

#with parameter
def MV2(l):
    P= ['in','A','as','of','by','to','for','but','and','the','his', 'on', 'at', 'to', 'I', 'me','he','she', 'you','it']
    for word in l:
        if word in P:
            l.remove(word)
    return l

In [612]:
MV()
print("Taux de réduction est {:.0%}".format(len(Li)/len(L)))

Taux de réduction est 95%

#### Q.5

In [613]:
import pandas as pd
df = pd.DataFrame(Textes)
df

                                                    0         1
0   Antoine Griezmann scored twice as France beat ...     sport
1              Haaland scores hat-trick in Norway win     sport
2   A comfortable win over Azerbaijan moved Morocc...     sport
3   World Cup qualifying has been seriously affect...     sport
4   Memphis Depay hat trick vs. Turkey puts Dutch ...     sport
5   General Elections: Turnout Reaches 75% in Moro...  politics
6   Guinea is in the midst of a rocky political tr...  politics
7   Morocco, Spain Team Up to Arrest Terror Suspec...  politics
8   Several countries and organizations expressed ...  politics
9   Personal Data Use In Moroccan Election Campaig...  politics
10  Royal Air Maroc Cancels Flights Between Morocc...   economy
11  Ministry of Industry Approves New Company to M...   economy
12  Branson, tech entrepreneur and founder of the ...   economy
13  IFC, BMCE Bank UK Team Up to Promote African T...   economy
14  Morocco, Stellantis Sign Amendment to Reactiva...   economy

In [614]:
T1=df[0].to_list()[0:5]
T2=df[0].to_list()[5:10]
T3=df[0].to_list()[10:15]
T3

['Royal Air Maroc Cancels Flights Between Morocco and Italy',
 'Ministry of Industry Approves New Company to Monitor Imports',
 'Branson, tech entrepreneur and founder of the Virgin Group, visited Dakhla after a trip to Marrakech',
 'IFC, BMCE Bank UK Team Up to Promote African Transnational Trade',
 'Morocco, Stellantis Sign Amendment to Reactivate Cooperation in Automotive Industry']

In [615]:
import itertools
A,B,C=[],[],[]

for i in range (5):
    A.append(T1[i].split())
    B.append(T2[i].split())
    C.append(T3[i].split())
    
List1=list(itertools.chain(*A))
List2=list(itertools.chain(*B))
List3=list(itertools.chain(*C))

In [616]:
Lii=L.copy()
def ELIM(A):
    for word in A:
        if word in List1 and word in List2 and word in List3:
            A.remove(word)
    return A

In [618]:
ELIM(Lii)
print("Taux de réduction est {:.0%}".format(len(Lii)/len(L)))

Taux de réduction est 97%

#### Q.6

In [619]:
from math import sqrt

def DIST(X,Y):
    distance=0
    for i in range(len(X)):
        distance=distance+(X[i]-Y[i])**2        
    return sqrt(distance)

#### Q.7

Afin de determiner la categorie d'un texte, on utilisera l'algorithme K-nearest-neighbors.
On commencera par calculer la distance euclidiene entre le vecteur du texte et ceux de notre base puis en se basant sur le k (number of neighbors ), on determinera la classe de notre texte

##### knn implementation

In [620]:
def knn1(n,t,T):
    DisTab=[]
    #store distance
    for i in range(len(T)):
        DisTab.append([ DIST(t2v(t,L),t2v(T[i][0],L)),T[i][1]]) 
    #sort list
    DisTab.sort()
    return DisTab[:n]

In [621]:
test = knn1(4,"The Minister of Economy, Finance and Administration Reform and the Governor of Bank Al-Maghrib hold a virtual meeting with the Managing Director of the IMF",Textes)
test

[[4.795831523312719, 'economy'],
 [5.291502622129181, 'economy'],
 [5.291502622129181, 'sport'],
 [5.477225575051661, 'economy']]

On ajoutera maintenant une dataframe qui  groupera les categories par leur nomrbe d'apparition afin de retourner la classe majoritaire

In [622]:
#j'ai ajouté L comme parametre pour faire passer Li(resultat du ElIM())
def knn(n,t,T,L):
    DisTab=[]
    #store distance
    for i in range(len(T)):
        DisTab.append([ DIST(t,t2v(T[i][0],L)),T[i][1]]) 
    #sort list
    DisTab.sort()
    DisTab[:n]
    
    cat = pd.DataFrame(DisTab[:n])
    classe = cat.groupby(cat[1]).nunique().idxmax()
    print('la classe de ce texte est: ' + classe[0])

In [623]:
test = knn(8,t2v("The Minister of Economy, Finance and Administration Reform and the Governor of Bank Al-Maghrib hold a virtual meeting with the Managing Director of the IMF",L),Textes,L)
test

la classe de ce texte est: economy

#### Q.8

In [624]:
#Eliminer mots vides
MV()
#Eliminer classes apartenant à 3 classes
ELIM(Li)
texte = "Lionel Messi surpasses Pele's goalscoring record, leads Argentina to win in World Cup qualifiers"
knn(2,t2v(texte,Li),Textes,Li)

la classe de ce texte est: sport

#### Q.9

Pour ce faire, on doit utiliser un texte qui comprend des mots appartenant à P (ensemble des mots vides) et d'autres appartenant aux 3 catégories

In [631]:
texte="The annual financial plan of Morocco is to Support Administrative Reform"

In [632]:
#en utilisant t2v
knn1(7,texte,Textes)

[[3.0, 'economy'],
 [3.1622776601683795, 'sport'],
 [3.3166247903554, 'economy'],
 [3.4641016151377544, 'economy'],
 [3.4641016151377544, 'politics'],
 [3.605551275463989, 'economy'],
 [3.605551275463989, 'politics']]

In [633]:
#en utilisant t2v avec elim, mv 
MV2(L)
L=ELIM(L)
knn1(5,texte,Textes)

[[2.6457513110645907, 'sport'],
 [2.8284271247461903, 'economy'],
 [2.8284271247461903, 'sport'],
 [3.0, 'economy'],
 [3.1622776601683795, 'economy']]

#### Q.10

L'algorithme utilisé est knn (k-nearest-neighbors), un algorithme d'apprentissage supervisé et de classification de modèles qui nous aide à trouver à quelle classe appartient la nouvelle entrée (valeur de test) lorsque k voisins les plus proches sont choisis et que la distance est calculée entre eux.

##### Avantages:
Un seul hyper paramètre k et diversité des critères de distance à choisir : 
Distance euclidienne, Distance de Minkowski

##### Inconvenient:
L'un des plus grands problèmes des K-NN est de choisir le nombre optimal de voisins k à prendre en compte lors de la classification de la nouvelle entrée de données.

#### Fin.